h1 {
  display: flex;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-left: 30px;
}

.container {
  display: flex; /*ativa as funções de organizamento*/
  justify-content: left;
  align-items: left;
  max-width: 200px;
  font-family: Arial, sans-serif;
}

button {
  background-color: blueviolet;
  color: white;
  border-color: blueviolet;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

#email {
  height: 45px;
  width: 300px;
}

#password {
  height: 45px;
  width: 300px;
}

.outra {
  display: flex;
  width: 10%;
  height: 10%;
  margin-top: -400px;
  margin-left: 65%;
}
#imagem {
  display: flex;
  width: 300%;
  height: 30%;
  justify-content: left;
}

header {
  display: flex; /*chefe das outras funções*/
  align-items: center; /*sozinho dificilmente funciona| depende de outras funções*/
  justify-content: end; /*end == utliza todo espaço disponivel na tela*/
  height: 100px;
  gap: 50px; /*depende do display flex | */
  margin-right: 200px; /*dá espaço da margem do lado direito || top == parte de cima | bottom == parte de baixo*/
  font-family: Arial, sans-serif;
  /*padding-rigth: 60px; == quase mesma função do margin bottom */
}
header p a {
  /*especifica dentro do lugar que cê quer mexer*/
  text-decoration: none;
  color: black;
}
.login {
  display: grid;
  gap: 10px;
  margin-left: 30px;
}
input {
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(201, 165, 246);
}
body{
  /* width: 98vw;   altura da tela*/
  /* height: 100vh; largura da tela*/
  /*width: 100%;  ocupará 100% da largura do elemento pai*/
}
p{
  /*font-size: 1.5em; 1.5 vezes o tamanho da fonte do elemento pai*/
  /*font-size: 2rem; 2x o tamanho da fonte pai*/
}
html{
  /*font-size: 16px;*/
}
